@model PlannerLib.Business.BEvent_Type

@{Model.Format();}

<section id="EventTypeView_@Model.Event_Type_ID" class="EventTypeView">
    Name: @Model.Name
    <br />
    Description:
    <br />
    @Model.Description
</section>